.about {

  &__header {
    color: $mainBlue;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    padding: 1rem .6rem 1rem .6rem;

    @mixin atSmall {
      padding: 2rem .6rem 2rem .6rem;
    }

    @mixin atMedium {
      padding: 0rem .6rem 3.5rem .6rem;
      font-size: 2.5rem;
    }

    &--bold {
      font-weight: 600;
    }
  }

}

.small-truck {

  visibility: hidden;
  display: none;

  @mixin atMedium {
    display: block;
    visibility: visible;
  }
}
