.modal {
  /* we want the window to be front and centre no matter where the user has scrolled to, don't want it at the bottom*/
  position: fixed;
  /* higher z-index values will be displayed on top */
  z-index: 5;
  background-color: rgba(255, 255, 255, .94);
  /* This will make the window take up the full height of the page */
  top: 0;
  bottom: 0;
  /* This will make the window take up the full width of the page */
  left: 0;
  right: 0;
  opacity: 0; /* this makes the modal window transparent */
  /* using just opacity will hide the content, but the cursor will still change and links will still be clickable */
  visibility: hidden; /* this fixes using only opacity to hide content */
  transform: scale(1.2); /* this makes the content a bit larger at first */
  /* to make the transitions smooth and not abrubt */
  /* all wil transform all changes, at 300ms with the ease-out manner */
  transition: all .3s ease-out;

  &--is-visible {
    opacity: 1; /* 1 is fully visible */
    visibility: visible;
    transform: scale(1); /* this will shrink the content back to normal size */
  }

  &__inner {
    position: absolute;
    width: 100%; /* elements that are positioned absolutely will try to shrinkwrap their size, so width 100% fixes that */
    top: 50%; /* to vertically centre it */
    /* translate to control the positioning */
    /* translateY to only control vertical positioning */
    transform: translateY(-50%);
  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.65;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);/* this stretches the X to make it look more like a close button */
    transform-origin: 100% 0; /* this shifts the transform origin so that the icon streches to the left only and does not appear to be closer to the right side of the screen */
    /* the origin is now 100% horisontal (all the way to the right) and 0 vertical (all the way at the top) */
    color: $mainBlue;
    cursor: pointer; /* this makes the cursor into the pointer hand when hovered over */

    /* the '&' gives the '&__close selector' */
    &:hover {
      color: $mainOrange;
    }
  }
}
