.page-section {

  padding: 1rem 0 0 0;

  @mixin atMedium {
    padding: 4.5rem 0;
    padding-bottom: 4.5rem;
  }


  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }

  &--testimonials {
    background-color: #e0e6ef;
        background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;
  }
}
