.row {

  @mixin clearfix;

  &--gutters {
    margin-right: -80px;
  }

  &--gutters > div { /* only selects the children of that element type */
    padding-right: 80px;
  }

  &__8 {
    float: left;
    width: 100%;

    @mixin atMedium {
      width: 66%;
    }

    &--vertical-centered {
      padding-top: 10px;
    }
  }

  &__4 {
    float: left;
    width: 33.33%;
  }

  &__7 {

    @mixin atMedium {
      float: left;
      margin-left: 2rem;
      width: 45%;

      @mixin atLarge {
        margin-left: 6rem;
      }
    }

  }

  &__5 {

    @mixin atMedium {
      float: left;
      width: 41.6%;
      margin-left: 2rem;
    }

  }

  &__small-3 {

    float: left;
    width: 100%;
    font-size: 1rem;
    text-align: center;

    @mixin atMedium {
      width: 45%;
      padding-top: 1.3rem
    }


    &--blue {
      color: $mainBlue;
    }
  }

  &__small-5 {
    float: left;

    @mixin atMedium {
      width: 50%;
    }

  }
}
