.row {

  @mixin clearfix;

  &--gutters {
    margin-right: -80px;
  }

  &--gutters > div { /* only selects the children of that element type */
    padding-right: 80px;
  }

  &__8 {
    float: left;
    width: 66%;

    &--vertical-centered {
      padding-top: 30px;
    }
  }

  &__4 {
    float: left;
    width: 33.33%;
  }

  &__7 {
    float: left;
    width: 58.4%;
    background-color: green;
  }

  &__5 {
    float: left;
    width: 41.6%;
    background-color: red;
  }
}
