.site-header {
  /* takes header out of the normal flow so that large-hero seems to be behind it */
  padding: 10px 0px;
  position: absolute;
  width: 100%;
  /* whichever element has a higher z-index value will be placed on top */
  z-index: 2;
  transition: background-color .3s ease-out; /* when background-color changes, the transition will ease-out over a period of 300 milliseconds */

  &--is-expanded {
    background-color: rgba($mainBlue, .55);
  }

  @mixin atMedium {
    background-color: rgba($mainBlue, .3);
    position: fixed; /* This will lock the element at the top of the screen, even as we scroll */

    &--dark {
      background-color: rgba($mainBlue, .85);
    }
  }

  &__btn-container {

    @mixin atMedium {
      float: right;
    }
  }


  &__logo {
    /* takes logo out of the normal flow so that header block height ignores it */
    position: absolute;
    top: 0; /* makes the top position of logo 0 */
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transition: transform .3s ease-out;
    transform-origin: 50% 0%; /* default origin is 50% 50% */
    background-color: $mainBlue;
    padding: 25px 36px;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);

      .site-header--dark & { /* Targets the site-header class when it is using the dark modifier, the "space" adds a descendant selector, the & selects the logo */
          transform: scale(.55);
        }
    }
  }

  &__logo__graphic {
    text-indent: -9999px;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10; /* to make sure button is always on top and clickable */
    top: 10px;
    right: 10px;

    &::before {
      content: ""; /* to make sure the bar is visible, can't display empty divs */
      position: absolute;
      top: 0;
      left: 0; /* bar will sit in the top left corner */
      width: 20px; /* Because that is how wide the menu icon is */
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 0; /* By default, transform origin is 50% 50% */
      transition: transform .3s ease-out; /* will transition all transform properties */
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0; /* bar will sit in the top left corner */
      width: 20px; /* Because that is how wide the menu icon is */
      height: 3px;
      background-color: #FFF;
      transition: all .3s ease-out; /* will transition all properties */
      transform-origin: 0 50%; /* 0 for left edge, 50% for verticle centre */
    }

    &::after {
      content: ""; /* to make sure the bar is visible, can't display empty divs */
      position: absolute;
      bottom: 0px;
      left: 0; /* bar will sit in the top left corner */
      width: 20px; /* Because that is how wide the menu icon is */
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 100%; /* 0 points to left, 100 points to bottom */
      transition: transform .3s ease-out; /* will transition all transform properties */
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25); /* scaleX will only make the x-axis longer */
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px); /* translateY moves position down by 1-pixel */
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2); /* Zoom in and out effect */
    transition: all .3s ease-out; /* transition all proerties */
    position: relative; /* browser needs position relative in order to acknowledge the z-index property */
    z-index: -10;
    padding-top: 90px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1); /* Zoom in and out effect */
    }

    &--is-visible {
      opacity: 1; /* makes it visible when clicked */
      z-index: 1;
      transform: scale(1); /* Zoom in and out effect */
    }
  }
}
